{% extends "admin/edit_inline/tabular.html" %}
{% load i18n admin_urls yp_demo %}

{# Project-level override: upstream uses _meta in templates which Django forbids. #}
{# We expose app_label / model_name via the yp_demo filter library.              #}

{% block inline %}
{% with app_label=inline_admin_formset.opts.model|model_app_label model_name=inline_admin_formset.opts.model|model_name %}
{% url 'admin:yp_reorder' app_label model_name as yp_reorder_url %}
<div class="js-inline-admin-formset inline-group yp-sortable-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="tabular"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}"
     data-yp-sortable="true"
     data-yp-sortable-field="{{ inline_admin_formset.opts.sortable_field|default:'order' }}"
     data-yp-sortable-prefix="{{ inline_admin_formset.formset.prefix }}"
     {% if yp_reorder_url %}data-yp-reorder-url="{{ yp_reorder_url }}"{% endif %}>
  {{ block.super }}
</div>
{% endwith %}
{% endblock %}
